header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 15px 15px;
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.301);
  position: fixed;
  z-index: 3;
}

header>h1 {
  font-size: 25px;
}

header span {
  color: var(--span-color);
}

header #blink {
  animation: spanBlink 2s infinite;
}

@keyframes spanBlink {
  0% {
    color: #003800;
  }

  50% {
    color: #00b400;
  }

  100% {
    color: #003800;
  }
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  gap: 1rem;
  /* background-color: purple; */
}

header a {
  color: var(--span-color);
  text-decoration: none;
}

.link {
  line-height: 2;
  position: relative;
  font-size: 20px;
}

.link::before {
  content: '';
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: var(--span-color);
  position: absolute;
  bottom: -.25rem;
  left: 50%;
  transition: width .4s, left .4s;
}

.link:hover::before {
  width: 100%;
  left: 0;
}

/* Hamburger menu */

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: .5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: var(--span-color);
  border-radius: 4px;
}

#bar2 {
  transition-duration: .8s;
}

#bar1,
#bar3 {
  width: 70%;
}

#checkbox:checked+.toggle .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox:checked+.toggle #bar2 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox:checked+.toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox:checked+.toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox:checked+.toggle {
  transition-duration: .5s;
  transform: rotate(180deg);
}

/* nav mobile */

.nav_mobile {
  width: 100%;
  height: 0;
  position: absolute;
  padding-top: 90px;
  display: none;
  z-index: 1;
  background: #121212be;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav_mobile ul {
  height: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 25px;
}

.nav_mobile_active {
  display: flex;
  height: 100%;
  transition: all .2s;
  position: fixed;
}

@media (max-width: 800px) {
  .toggle {
    display: flex;
  }

  .nav_mobile .nav_links li a {
    color: var(--span-color);
    font-weight: bolder;
  }
}