.skills {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.skills,
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 90px;
}

.skills h1,
.projects h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 50px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.card {
  width: 190px;
  height: 254px;
  background: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px 1px #00000088;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.card .content {
  border-radius: 5px;
  background: #171717;
  width: 186px;
  height: 250px;
  z-index: 1;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card .content i {
  font-size: 90px;
}

.card .content span {
  font-size: 30px;
}

.content::before {
  opacity: 0;
  transition: opacity 300ms;
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  filter: blur(20px);
}

.card:hover .content::before {
  opacity: 0;
}

.card::before {
  opacity: 0;
  content: " ";
  position: absolute;
  display: block;
  width: 120px;
  height: 360px;
  background: #3d8fc6;
  transition: opacity 300ms;
  animation: rotation_9018 3000ms infinite linear;
  animation-play-state: paused;
}

.card:hover::before {
  opacity: 1;
  animation-play-state: running;
}

.card::after {
  position: absolute;
  content: " ";
  display: block;
  width: 190px;
  height: 254px;
  backdrop-filter: blur(20px);
}

@keyframes rotation_9018 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* css card */

.card_css::before {
  background: #3d8fc6;
}

/* html card */

.card_html::before {
  background: #e54d26;
}

/* js card */

.card_js::before {
  background: #ffd845;
}

/* python card */

.card_python::before {
  background: #ffd845;
}

/* vuejs card */

.card_vuejs::before {
  background: #41b883;
}

/* Projects Sessions */

.block {
  position: absolute;
  text-align: center;
  width: 200%;
  height: 30px;
  background-color: #ffd845;
  color: #171717;
  transform: rotate(-45deg);
}

.alert {
  color: #ff0000;
  font-size: 300px;
}

.card_project_soon::before {
  background: #ff0000;
}

.card:hover .alert {
  animation: pulse 1s infinite alternate;
  /* Define a animação apenas quando o mouse estiver em cima */
}

@keyframes pulse {
  from {
    color: #660003;
  }

  to {
    color: #ff0000;
  }
}

.project_preview span a {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.project_preview {
  position: absolute;
  display: grid;
  place-items: center;
  top: 250px;
  height: 100%;
  transition: all .5s;
}

.card_personal:hover .project_preview {
  top: 0;
  transition: all .5s;
}

.card_personal:hover .card_title,
.card_personal:hover .card_logo {
  display: none;
  transition: all .5s;
}