@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-dark-color: #22223B;
  --secondary-dark-color: #4A4E69;
  --main-light-color: #F2E9E4;
  --secondary-light-color: #C9ADA7;
  --rosinha-escuro: #9A8C98;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-dark-color);
  color: var(--main-light-color);
}

header {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.301);
}

header>h1 {
  font-size: 25px;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  gap: 1rem;
}

a {
  color: var(--main-light-color);
  text-decoration: none;
}

section {
  height: calc(100vh - 80px);
}

.home {
  display: flex;
  justify-content: space-around;
}

.home span {
  color: #4A4E69;
}

.text_section {
  width: 50%;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image_section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 15em;
  border-radius: 100%;
  border: 5px solid var(--rosinha-escuro);
}

.socials {
  display: flex;
  align-items: center;
}

i {
  font-size: 40px;
  margin: 1rem;
}
